body {
  margin: 0;
  padding: 0;
  background-color: rgb(147, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 24px;
  width: 70%;
  max-width: 400px;
  text-align: center;
  font-size: 22px;
}

.heading {
  margin: 5px;
  font-size: 28px;
}
.ratings-container {
  display: inline-flex;
  margin: auto 0;
  padding: 20px 0;
}

.rating {
  width: 100%;
  cursor: pointer;
  padding: 15px;
  margin: 10px 5px;
  border-radius: 16px;
}
.rating small {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 10px;
  flex-direction: column;
}

.rating:hover,
.rating.active {
  background-color: rgb(28, 97, 97);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn {
  background-color: rgb(57, 142, 113);
  color: white;
  border: 0;
  margin: 10px;
  border-radius: 4px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn:active {
  transform: scale(0.96);
}

.rating img {
  width: 40px;
}

.feedbck {
  color: rgb(62, 64, 64);
}
