h1,
span {
  font-size: 64px;
}

h1 span {
  color: rgb(233, 165, 38);
  font-weight: 800;
}
button {
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background-color: rgb(42, 188, 188);
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
